{namespace mgn=MONOGON\AddressCollection\ViewHelpers}

<f:if condition="{address.address, address.city, address.zip, address.region, address.country} -> mgn:array.hasOneValue()">
  <div class="adr">
    <f:if condition="{address.address}">
      <span class="street-address">{address.address}</span>
    </f:if>
    <f:if condition="{address.zip}">
      <span class="postal-code">{address.zip}</span>
    </f:if>
    <f:if condition="{address.city}">
      <span class="locality">{address.city}</span>
    </f:if>
    <f:if condition="{address.region}">
      <span class="region">{address.region}</span>
    </f:if>
    <f:if condition="{address.country}">
      <span class="country-name">{address.country}</span>
    </f:if>
  </div>
</f:if>