{namespace mgn=Monogon\AddressCollection\ViewHelpers}
<mgn:headerData>
<f:if condition="{setup.includeBootstrap}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'StyleSheet/Vendors/bootstrap.min.css')}">
</f:if>
<f:if condition="{setup.includeVisualSearch}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'StyleSheet/Vendors/visualsearch.css')}">
</f:if>
<f:if condition="{setup.includeBasic}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'StyleSheet/Pi1.css')}">
</f:if>
</mgn:headerData>
<mgn:footerData>
<f:if condition="{setup.includeBasic}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'JavaScript/Pi1.css')}">
</f:if>
</mgn:footerData>