{namespace mgn=MONOGON\AddressCollection\ViewHelpers}

<div class="tx-address-collection">

  <f:form class="form-inline" method="get" name="demand" object="{demand}" enctype="multipart/form-data" additionalAttributes="{data-action: '{f:uri.action(action: \'search\', pageType: setup.ajaxPageType, noCacheHash: 1, additionalParams: {recordUid: data.uid})}', data-target: '#Target{data.uid}]', data-plugin: 'form2vs'}">
    <div class="hidden">
      <input type="hidden" name="id" value="{data.pid}">
    </div>
    <div class="form-group">
      <mgn:form.label property="name" class=""><f:translate key="tx_addresscollection_domain_model_address.name" /></mgn:form.label>
      <f:form.textfield property="name" class="form-control" title="{f:translate(key: 'tx_addresscollection_domain_model_address.name')}" />
    </div>
    <div class="form-group">
      <mgn:form.label property="email" class=""><f:translate key="tx_addresscollection_domain_model_address.email" /></mgn:form.label>
      <f:form.textfield property="email" class="form-control" title="{f:translate(key: 'tx_addresscollection_domain_model_address.email')}" />
    </div>
    <div class="form-group">
      <mgn:form.label property="addressGroups." class=""><f:translate key="tx_addresscollection_domain_model_address.address_groups" /></mgn:form.label>
      <f:form.select property="addressGroups" options="{mgn:form.options.addressGroups(uids:setupDemand.addressGroups)}" optionValueField="uid" optionLabelField="title" multiple="multiple" size="3" class="form-control" title="{f:translate(key: 'tx_addresscollection_domain_model_address.address_groups')}" />
    </div>
    <button type="submit" class="btn btn-default">{f:translate(key: 'button.search')}</button>
  </f:form>
  <div class="addresses">
    <f:render section="main" />
  </div>
</div>
<f:render partial="Includes" arguments="{setup: setup}" />