{namespace mgn=MONOGON\AddressCollection\ViewHelpers}

<mgn:recordType.isPropertyVisible property="name" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'name'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="gender" object="{address}">
  <f:render partial="Bootstrap/Form/Radio" arguments="{address: address, property: 'gender', values: {0: 'm', 1: 'f'}}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="firstName" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'firstName'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="middleName" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'middleName'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="lastName" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'lastName'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="title" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'title'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="email" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'email'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="phone" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'phone'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="mobile" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'mobile'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="fax" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'fax'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="www" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'www'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="address" object="{address}">
  <f:render partial="Bootstrap/Form/Textarea" arguments="{address: address, property: 'address'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="building" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'building'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="room" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'room'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="company" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'company'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="city" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'city'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="zip" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'zip'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="region" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'region'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="country" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'country'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="birthday" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'birthday', value: '{address.birthday->f:format.date()}'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="description" object="{address}">
  <f:render partial="Bootstrap/Form/Textarea" arguments="{address: address, property: 'description'}" />
</mgn:recordType.isPropertyVisible>
<mgn:recordType.isPropertyVisible property="company" object="{address}">
  <f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'company'}" />
</mgn:recordType.isPropertyVisible>


<mgn:recordType.isPropertyVisible property="image" object="{address}">
  <div class="form-group">
    <mgn:form.label for="image" class="control-label"><f:translate key="tx_addresscollection_domain_model_address.image" /></mgn:form.label>
    <span>File upload is not implemented!</span>
  </div>
</mgn:recordType.isPropertyVisible>

