{namespace mgn=MONOGON\AddressCollection\ViewHelpers}
<table class="tx-address-extbase" >
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.name" />
    </td>
    <td>
    {address.name}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.first_name" />
    </td>
    <td>
    {address.firstName}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.middle_name" />
    </td>
    <td>
    {address.middleName}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.last_name" />
    </td>
    <td>
    {address.lastName}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.gender" />
    </td>
    <td>
    {address.gender}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.birthday" />
    </td>
    <td>
    {address.birthday -> f:format.date()}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.title" />
    </td>
    <td>
    {address.title}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.email" />
    </td>
    <td>
    {address.email}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.phone" />
    </td>
    <td>
    {address.phone}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.mobile" />
    </td>
    <td>
    {address.mobile}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.www" />
    </td>
    <td>
    {address.www}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.address" />
    </td>
    <td>
    {address.address}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.building" />
    </td>
    <td>
    {address.building}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.room" />
    </td>
    <td>
    {address.room}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.company" />
    </td>
    <td>
    {address.company}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.city" />
    </td>
    <td>
    {address.city}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.zip" />
    </td>
    <td>
    {address.zip}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.region" />
    </td>
    <td>
    {address.region}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.country" />
    </td>
    <td>
    {address.country}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.image" />
    </td>
    <td>
        <f:image src="{address.image.originalResource.publicUrl}" width="200"/>
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.fax" />
    </td>
    <td>
    {address.fax}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_addresscollection_domain_model_address.description" />
    </td>
    <td>
    {address.description}
    </td>
  </tr>
</table>