{namespace mgn=MONOGON\AddressCollection\ViewHelpers}

<div class="vcard">

  <f:render partial="Vcard/Photo" arguments="{address: address}" />

  <f:render partial="Vcard/Fnn" arguments="{address: address}" />







  <f:if condition="{address.www}">
    <f:link.external class="url" uri="{address.www}" target="_blank"></f:link.external>
  </f:if>



  <f:render partial="Vcard/Adr" arguments="{address: address}" />

  <f:render partial="Vcard/Tel" arguments="{address: address}" />

  <f:render partial="Vcard/Category" arguments="{address: address}" />




</div>