  <f:if condition="{address.phone}">
    <div class="tel phone"><f:translate key="tx_addresscollection_domain_model_address.phone" /> <span class="value">{address.phone}</span></div>
  </f:if>
  <f:if condition="{address.mobile}">
    <div class="tel mobile"><f:translate key="tx_addresscollection_domain_model_address.mobile" /> <span class="value">{address.mobile}</span></div>
  </f:if>
  <f:if condition="{address.fax}">
    <div class="tel fax"><f:translate key="tx_addresscollection_domain_model_address.fax" /> <span class="value">{address.fax}</span></div>
  </f:if>