{namespace mgn=MONOGON\AddressCollection\ViewHelpers}

foobar
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'name'}" />
<f:render partial="Bootstrap/Form/Radio" arguments="{address: address, property: 'gender', values: {0: 'm', 1: 'f'}}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'firstName'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'middleName'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'lastName'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'title'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'email'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'phone'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'mobile'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'fax'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'www'}" />
<f:render partial="Bootstrap/Form/Textarea" arguments="{address: address, property: 'address'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'building'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'room'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'company'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'city'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'zip'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'region'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'country'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'birthday', value: '{address.birthday->f:format.date()}'}" />
<f:render partial="Bootstrap/Form/Textarea" arguments="{address: address, property: 'description'}" />
<f:render partial="Bootstrap/Form/Textfield" arguments="{address: address, property: 'company'}" />




